
<h3>Add New Country</h3>
<form method="post" class="form-control" id="frmcat">
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label>Name</label>
                <input name="Name" class="form-control" />

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <button type="button" id="btnnewsave" class="btn btn-success"><i class="fas fa-save" aria-hidden="true"></i>&nbsp;Save</button>
        </div>
    </div>
</form>
<script>
    $("#btnnewsave").click(function () {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Create","Country")',
            data: $("#frmcat").serialize()

        }).done(function (response) {
            $("#tblcat").html(response);
            $("#newatncon").html("");
            window.location = "@Url.Action("Index", "Country")";

        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("F");
        });

    });
</script>