@model School.web.ViewModel.createCity

<form id="frmcat" class="form-control">
    <div class="row">
        <div class="col-md-10">

            <div class="form-group">
                <label>Country</label>
                <select name="CountryId" class="form-control">
                    @foreach (var item in Model.countries)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>

            </div>
            <div class="form-group">
                <label>Name <span class="text-danger">*</span></label>
                <input name="Name" class="form-control" placeholder="Name" />
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="button" id="btnsave" class="btn btn-primary">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                Save
            </button>
        </div>
    </div>
</form>

<script>
    $("#btnsave").click(function () {
        debugger;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Create","City")',
            data: $("#frmcat").serialize()

        }).done(function (response) {
            $("#tblcat").html(response);
            $("#newatncon").html("");
            window.location = "@Url.Action("Index", "Country")";

        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("F");
        });

    });         
</script>
